Python Keywords
Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

Keywords are case sentive

In [ ]:
#Get all keywords in python 3.6

import keyword

print(keyword.kwlist)

print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  35

Identifiers
Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

Keywords cannot be used as identifiers

In [ ]:
global = 1

SyntaxError: ignored

In [ ]:
a@ = 10             #can't use special symbols as an identifier

SyntaxError: ignored

Python Comments
Comments are lines that exist in computer programs that are ignored by compilers and interpreters.

Including comments in programs makes code more readable for humans as it provides some information or explanation about what each part of a program is doing.

In general, it is a good idea to write comments while you are writing or updating a program as it is easy to forget your thought process later on, and comments written later may be less useful in the long term.

In Python, we use the hash (#) symbol to start writing a comment.

In [ ]:
#Print Hello, world to console
print("Hello, world")

Hello, world

Multi Line Comments
If we have comments that extend multiple lines, one way of doing it is to use hash (#) in the beginning of each line

In [ ]:
#This is a long comment
#and it extends 
#Multiple lines

Another way of doing this is to use triple quotes, either ''' or """.

In [ ]:
"""This is also a
perfect example of
multi-line comments"""

'This is also a\nperfect example of\nmulti-line comments'

DocString in python
Docstring is short for documentation string.

It is a string that occurs as the first statement in a module, function, class, or method definition.

In [ ]:
def double(num):
    """
    function to double the number
    """
    return 2 * num

print(double(10))

20

In [ ]:
print(double.__doc__) #Docstring is available to us as the attribute __doc__ of the function

    function to double the number

Python Indentation
Most of the programming languages like C, C++, Java use braces { } to define a block of code. Python uses indentation.

A code block (body of a function, loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

Generally four whitespaces are used for indentation and is preferred over tabs.

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
if True:
    print ("Machine Learning")
    c = "AAIC"

Machine Learning

In [ ]:
if True: print ("Machine Learning"); c = "AAIC"

Machine Learning

Python Statement
Instructions that a Python interpreter can execute are called statements.

Examples:

In [ ]:
 a = 1  #single statement

Multi-Line Statement
In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character ().

In [ ]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

In [ ]:
print(a)

36

In [ ]:
#another way is
a = (1 + 2 + 3 +
    4 + 5 + 6 + 
    7 + 8)
print (a)

36

In [ ]:
a = 10; b = 20; c = 30   #put multiple statements in a single line using ;

Strings
A string is a sequence of characters.

Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

In Python, string is a sequence of Unicode character.
For more details about unicode

https://docs.python.org/3.3/howto/unicode.html


How to create a string?
Strings can be created by enclosing characters inside a single quote or double quotes.

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings

In [ ]:
myString = 'Hello'

print(myString)


myString = "Hello"
print(myString)


myString = '''Hello'''
print(myString)

Hello
Hello
Hello

How to access characters in a string?
We can access individual characters using indexing and a range of characters using slicing.

Index starts from 0.

Trying to access a character out of index range will raise an IndexError.

The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

In [ ]:
myString = "Hello"

#print first Character
print(myString[0])

#print last character using negative indexing
print(myString[-1])

#slicing 2nd to 5th character
print(myString[2:5])

H
o
llo

In [ ]:
print(myString[15])

IndexError: ignored

In [ ]:
print(myString[1.5])

TypeError: ignored

How to change or delete a string ?
Strings are immutable. This means that elements of a string cannot be changed once it has been assigned.

We can simply reassign different strings to the same name.

In [ ]:
myString = "Hello"
myString[4] = 's' # strings are immutable

TypeError: ignored

In [ ]:
del myString # delete complete string

In [ ]:
print(myString)

NameError: ignored

String Operations
Concatenation
Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [ ]:
s1 = "Hello "
s2 = "Satish"

#concatenation of 2 strings
print(s1 + s2)

#repeat string n times
print(s1 * 3)

Hello Satish
Hello Hello Hello

Iterating Through String

In [ ]:
count = 0
for l in "Hello World":
    if l == 'o':
        count += 1
print(count, ' letters found')

2  letters found

String Membership Test

In [ ]:
print('l' in 'Hello World') #in operator to test membership

True

In [ ]:
print('or' in 'Hello World')

True

String Methods
Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace() etc

In [ ]:
"Hello".lower()

'hello'

In [ ]:
"Hello".upper()

'HELLO'

In [ ]:
"This will split all words in a list".split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [ ]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [ ]:
"Good Morning".find("Mo")

5

In [ ]:
s1 = "Bad morning"

s2 = s1.replace("Bad", "Good")

print(s1)
print(s2)

Bad morning
Good morning

Python Program to Check where a String is Palindrome or not ?

In [ ]:
myStr = "Madam"

#convert entire string to either lower or upper
myStr = myStr.lower()

#reverse string
revStr = reversed(myStr)


#check if the string is equal to its reverse
if list(myStr) == list(revStr):
    print("Given String is palindrome")
else:
    print("Given String is not palindrome")

Given String is palindrome

Python Program to Sort Words in Alphabetic Order?

In [ ]:
myStr = "python Program to Sort words in Alphabetic Order"

#breakdown the string into list of words
words = myStr.split()

#sort the list
words.sort()

#print Sorted words are
for word in words:
    print(word)

Alphabetic
Order
Program
Sort
in
python
to
words

Variables
A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

Variable Assignments

In [ ]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "ML"

Multiple Assignments

In [ ]:
a, b, c = 10, 5.5, "ML"

In [ ]:
a = b = c = "AI" #assign the same value to multiple variables at once

Storage Locations

In [ ]:
x = 3

print(id(x))               #print address of variable x

94641092352576

In [ ]:
y = 2
print(id(y))               #print address of variable y

94641092352544

Observation:

x and y points to same memory location

Data Types
Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Numbers
Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [ ]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [ ]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [ ]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

(1+2j)  is complex number?
True

Boolean
Boolean represents the truth values False and True

In [ ]:
a = True                          #a is a boolean type
print(type(a))

<class 'bool'>

Python Strings
String is sequence of Unicode characters.

We can use single quotes or double quotes to represent strings.

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

Strings can be indexed - often synonymously called subscripted as well.

Similar to C, the first character of a string has the index 0.

In [ ]:
s = "This is Online AI course"
print(s)

This is Online AI course

In [ ]:
print(s[0])
#last char s[len(s)-1] or s[-1]

T

In [ ]:
#slicing
s[5:]

'is Online AI course'

Python List
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [ ]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

In [ ]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

Python Tuple
Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [ ]:
t = (1, 1.5, "ML")

In [ ]:
print(t[1]) #extract particular element

1.5

In [ ]:
t[1] = 1.25

TypeError: ignored

Python Set
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [ ]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [ ]:
print(type(a))             #print type of a

<class 'set'>

In [ ]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

{10, 20, 30}

In [ ]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: ignored


Python Dictionary
Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
d = {'a': "apple", 'b': "bat"}
print d['a']

Conversion between Datatypes
We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

5.0

In [ ]:
int(100.5)   #convert float to integer using int() method

100

In [ ]:
str(20)      #convert integer to string

'20'

In [ ]:
int('10p')

ValueError: ignored

In [ ]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

In [ ]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [ ]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']

Operators
Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

Operator Types
Arithmetic operators

Comparison (Relational) operators

Logical (Boolean) operators

Bitwise operators

Assignment operators

Special operators

Arithmetic Operators
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

+ , -, *, /, %, //, **  are arithmetic operators
Example:

In [ ]:
x, y = 10, 20

#addition
print(x + y)

#subtraction(-)

#multiplication(*)

#division(/)

#modulo division (%)

#Floor Division (//)

#Exponent (**)

30

Comparision Operators
Comparison operators are used to compare values. It either returns True or False according to the condition.

>, <, ==, !=, >=, <= are comparision operators

In [ ]:
a, b = 10, 20         

print(a < b)  #check a is less than b

#check a is greater than b

#check a is equal to b

#check a is not equal to b (!=)

#check a greater than or equal to b

#check a less than or equal to b

True

Logical Operators
Logical operators are and, or, not operators.

In [ ]:
a, b = True, False

#print a and b
print(a and b)

#print a or b

#print not b

False

Bitwise operators
Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit

&,  |,  ~,  ^,  >>,  << are Bitwise operators

In [ ]:
a, b = 10, 4

#Bitwise AND
print(a & b)

#Bitwise OR


#Bitwise NOT


#Bitwise XOR


#Bitwise rightshift


#Bitwise Leftshift

0

Assignment operators
Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

=,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators

In [ ]:
a = 10

a += 10         #add AND
print(a)

#subtract AND (-=)

#Multiply AND (*=)

#Divide AND (/=)

#Modulus AND (%=)

#Floor Division (//=)

#Exponent AND (**=)/

20

Special Operators
Identity Operators
is and is not are the identity operators in Python.

They are used to check if two values (or variables) are located on the same part of the memory./

In [ ]:
a = 5
b = 5
print(a is b)    #5 is object created once both a and b points to same object

#check is not

True

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2)

False

In [ ]:
s1 = "Satish"
s2 = "Satish"
print(s1 is not s2)

False

MemberShip Operators
in and not in are the membership operators in Python.

They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [ ]:
lst = [1, 2, 3, 4]
print(1 in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

True

In [ ]:
d = {1: "a", 2: "b"}
print(1 in d)

True

Python while Loop
The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

Syntax:
while test_expression:

    Body of while
The body of the loop is entered only if the test_expression evaluates to True.

After one iteration, the test expression is checked again.

This process continues until the test_expression evaluates to False.

In [ ]:
#Find product of all numbers present in a list

lst = [10, 20, 30, 40, 60]

product = 1
index = 0

while index < len(lst):
    product *= lst[index]
    index += 1

print("Product is: {}".format(product))

Product is: 14400000

while Loop with else
Same as that of for loop, we can have an optional else block with while loop as well.

The else part is executed if the condition in the while loop evaluates to False. The while loop can be terminated with a break statement.

In such case, the else part is ignored. Hence, a while loop's else part runs if no break occurs and the condition is false.

In [ ]:
numbers = [1, 2, 3,4,5]
#iterating over the list
index = 0
while (index < len(numbers)):
    print(numbers[index])
    index += 1
    
else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

In [ ]:
num = int(input("Enter a number: "))        #convert string to int


isDivisible = False;

i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print ("{} is divisible by {}".format(num,i) )
    i += 1;
    
if isDivisible:
    print("{} is NOT a Prime number".format(num))
else:
    print("{} is a Prime number".format(num))

Enter a number: 16
16 is divisible by 2
16 is divisible by 4
16 is divisible by 8
16 is NOT a Prime number

Python Input and Output
Python Output
We use the print() function to output data to the standard output device

In [ ]:
print("Hello World")

Hello World

In [ ]:
a = 10
print("The value of a is", a) #python 3
print ("The value of a is " + str(a))

The value of a is 10
The value of a is 10

In [ ]:
a = 10; b = 20 #multiple statements in single line.

print("The value of a is {} and b is {}".format(a, b))    #default

The value of a is 10 and b is 20

In [ ]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

The value of b is 20 and a is 10

In [ ]:
#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="satish", greeting="Good Morning"))

Hello satish, Good Morning

In [ ]:
#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Bill', 'Manfred',
                                                       other='Georg'))

The story of Bill, Manfred, and Georg

Python Input
want to take the input from the user. In Python, we have the input() function to allow this.

In [ ]:
num = input("Enter a number: ")
print (num)

Enter a number: 12
12

Python for Loop
The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.

Iterating over a sequence is called traversal.

Syntax:
for element in sequence :

    Body of for
Here, element is the variable that takes the value of the item inside the sequence on each iteration.

Loop continues until we reach the last item in the sequence.

In [ ]:
#Find product of all numbers present in a list

lst = [10, 20, 30, 40, 50]

product = 1
#iterating over the list
for ele in lst:
    product *= ele

print("Product is: {}".format(product))

Product is: 12000000

range() function
We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).

We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided.

This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

In [ ]:
#print range of 10
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#print range of numbers from 1 to 20 with step size of 2
for i in range(0, 20, 5):
    print(i)

0
5
10
15

In [ ]:
lst = ["satish", "srinu", "murali", "naveen", "bramha"]

#iterate over the list using index
#for index in range(len(lst)):
#    print(lst[index])
for ele in lst:
    print(ele)

satish
srinu
murali
naveen
bramha

for loop with else
A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

break statement can be used to stop a for loop. In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

In [ ]:
numbers = [1, 2, 3]

#iterating over the list
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
no item left in the list

In [ ]:
for item in numbers:
    print(item)
    if item % 2 == 0:
        break
else:
    print("no item left in the list")

1
2

Python Program to display all prime numbers within an interval

In [ ]:
index1 = 20
index2 = 50

print("Prime numbers between {0} and {1} are :".format(index1, index2))

for num in range(index1, index2+1):      #default step size is 1
    if num > 1:
        isDivisible = False;
        for index in range(2, num):
            if num % index == 0:
                isDivisible = True;
        if not isDivisible:        
            print(num);

Prime numbers between 20 and 50 are :
23
29
31
37
41
43
47

Python break and continue Statements
In Python, break and continue statements can alter the flow of a normal loop.

Loops iterate over a block of code until test expression is false, but sometimes we wish to terminate the current iteration or even the whole loop without cheking test expression.

The break and continue statements are used in these cases.

Python break Statement
Syntax:

In [ ]:
numbers = [1, 2, 3, 4]
for num in numbers:          #iterating over list
    if num == 4:
        break
    print(num)
else:
    print("in the else-block")
print("Outside of for loop")

1
2
3
Outside of for loop

Python Program to check given number is Prime number or not (using break)

In [ ]:
num = int(input("Enter a number: "))        #convert string to int


isDivisible = False;

i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print ("{} is divisible by {}".format(num,i) )
        break; # this line is the only addition.
    i += 1;
    
if isDivisible:
    print("{} is NOT a Prime number".format(num))
else:
    print("{} is a Prime number".format(num))

Enter a number: 12
12 is divisible by 2
12 is NOT a Prime number

Python Continue Statement
syntax:

continue

In [ ]:
#print odd numbers present in a list
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("else-block")

1
3
5
else-block

Lists
Data Structure:

A data structure is a collection of data elements (such as numbers or charactersor even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

-> List is one of the Sequence Data structure

-> Lists are collection of items (Strings, integers or even other lists)

-> Lists are enclosed in [ ]

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.

List Creation

In [ ]:
emptyList = []

lst = ['one', 'two', 'three', 'four'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists

lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

print(lst4)

[1, 'ramu', 24, 1.24]

List Length

In [ ]:
lst = ['one', 'two', 'three', 'four']

#find length of a list
print(len(lst))

4

List Append

In [ ]:
lst = ['one', 'two', 'three', 'four']

lst.append('five') # append will add the item at the end

print(lst)

['one', 'two', 'three', 'four', 'five']

List Insert

In [ ]:
#syntax: lst.insert(x, y) 

lst = ['one', 'two', 'four']

lst.insert(2, "three") # will add element y at location x

print(lst)

['one', 'two', 'three', 'four']

List Remove

In [ ]:
#syntax: lst.remove(x) 

lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two') #it will remove first occurence of 'two' in a given list

print(lst)

['one', 'three', 'four', 'two']

List Append & Extend

In [ ]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#append 
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [ ]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#extend will join the list with list1

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

List Delete

In [ ]:
#del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

#or we can use pop() method
a = lst.pop(1)
print(a)

print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [ ]:
lst = ['one', 'two', 'three', 'four']

#remove an item from list
lst.remove('three')

print(lst)

['one', 'two', 'four']

List realted keywords in Python

In [ ]:
#keyword 'in' is used to test if an item is in a list
lst = ['one', 'two', 'three', 'four']

if 'two' in lst:
    print('AI')

#keyword 'not' can combined with 'in'
if 'six' not in lst:
    print('ML')

AI
ML

List Reverse

In [ ]:
#reverse is reverses the entire list

lst = ['one', 'two', 'three', 'four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

List Sorting
The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.

In [ ]:
#create a list with numbers
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)


print("Sorted list :", sorted_lst)

#original list remain unchanged
print("Original list: ", numbers)

Sorted list : [1, 2, 3, 6, 8]
Original list:  [3, 1, 6, 2, 8]

In [ ]:
#print a list in reverse sorted order
print("Reverse sorted list :", sorted(numbers, reverse=True))

#orginal list remain unchanged
print("Original list :",  numbers)

Reverse sorted list : [8, 6, 3, 2, 1]
Original list : [3, 1, 6, 2, 8]

In [ ]:
lst = [1, 20, 5, 5, 4.2]

#sort the list and stored in itself
lst.sort()

# add element 'a' to the list to show an error

print("Sorted list: ", lst)

Sorted list:  [1, 4.2, 5, 5, 20]

In [ ]:
lst = [1, 20, 'b', 5, 'a']
print(lst.sort()) # sort list with element of different datatypes.

TypeError: ignored

List Having Multiple References

In [ ]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list
print("Original list: ", lst)

Original list:  [1, 2, 3, 4, 5, 6]

String Split to create a list

In [ ]:
#let's take a string

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [ ]:
s = "This is applied AI Course"
split_lst = s.split() # default split is white-character: space or tab
print(split_lst)

['This', 'is', 'applied', 'AI', 'Course']

List Indexing
Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [ ]:
lst = [1, 2, 3, 4]
print(lst[1]) #print second element

#print last element using negative index
print(lst[-2])

2
3

List Slicing
Accessing parts of segments is called slicing.

The key point to remember is that the :end value represents the first value that is not in the selected slice.

In [ ]:
numbers = [10, 20, 30, 40, 50,60,70,80]

#print all numbers
print(numbers[:]) 

#print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [ ]:
print (numbers)
#print alternate elements in a list
print(numbers[::2])


#print elemnts start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

List extend using "+"

In [ ]:
lst1 = [1, 2, 3, 4]
lst2 = ['varma', 'naveen', 'murali', 'brahma']
new_lst = lst1 + lst2

print(new_lst)

[1, 2, 3, 4, 'varma', 'naveen', 'murali', 'brahma']

List Count

In [ ]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

2
2

List Looping

In [ ]:
#loop through a list

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

List Comprehensions
List comprehensions provide a concise way to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)   #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

Nested List Comprehensions

In [ ]:
#let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

if else

In [ ]:
num = 10.5

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative Number")

Tuples
-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

Tuple creation

In [ ]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [ ]:
#only parenthesis is not enough
t = ('satish')
type(t)

str

In [ ]:
#need a comma at the end
t = ('satish',)
type(t)

tuple

In [ ]:
#parenthesis is optional
t = "satish", 
print(type(t))

print(t)

<class 'tuple'>
('satish',)

Accessing Elements in Tuple

In [ ]:
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')

print(t[1])

murali

In [ ]:
#negative index
print(t[-1]) #print last element in a tuple

brahma

In [ ]:
#nested tuple
t = ('ABC', ('satish', 'naveen', 'srinu'))

print(t[1])

('satish', 'naveen', 'srinu')

In [ ]:
print(t[1][2])

srinu

In [ ]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

Changing a Tuple
unlike lists, tuples are immutable
This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed

In [ ]:
#creating tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x' #will get TypeError

TypeError: ignored

In [ ]:
t[4][1] = 'satish'
print(t)

(1, 2, 3, 4, [5, 'satish', 7])

In [ ]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [ ]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('satish', ) * 4)
print(t)

('satish', 'satish', 'satish', 'satish')

Tuple Deletion

In [ ]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

tuple count

In [ ]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

Tuple Index

In [ ]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

Tuple Memebership

In [ ]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [ ]:
print(7 in t)

False

Built in Functions
Tuple Length

In [ ]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

Tuple Sort

In [ ]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [ ]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [ ]:
#get the smallest element in a tuple
print(min(t))

1

In [ ]:
#get sum of elments in the tuple
print(sum(t))

23

Sets
-> A set is an unordered collection of items. Every element is unique (no duplicates).

-> The set itself is mutable. We can add or remove items from it.

-> Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

Set Creation

In [ ]:
#set of integers
s = {1, 2, 3}
print(s)

#print type of s 
print(type(s))

{1, 2, 3}
<class 'set'>

In [ ]:
#set doesn't allow duplicates. They store only one instance.
s = {1, 2, 3, 1, 4}
print(s)

{1, 2, 3, 4}

In [ ]:
#we can make set from a list
s = set([1, 2, 3, 1])
print(s)

{1, 2, 3}

In [ ]:
#initialize a set  with set() method
s = set()

print(type(s))

<class 'set'>

Add element to a Set

In [ ]:
#we can add single element using add() method and 
#add multiple elements using update() method
s = {1, 3}

#set object doesn't support indexing
print(s[1]) #will get TypeError

TypeError: ignored

In [ ]:
#add element
s.add(2)
print(s)

{1, 2, 3}

In [ ]:
#add multiple elements
s.update([5, 6, 1])
print(s)

{1, 2, 3, 5, 6}

In [ ]:
#add list and set
s.update([8, 9], {10, 2, 3})
print(s)

{1, 2, 3, 5, 6, 8, 9, 10}

Remove elements from a Set

In [ ]:
#A particular item can be removed from set using methods, 
#discard() and remove().

s = {1, 2, 3, 5, 4}
print(s)

s.discard(4)    #4 is removed from set s

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [ ]:
#remove an element 
s.remove(2)

print(s)

{1, 3, 5}

In [ ]:
#remove an element not present in a set s
s.remove(7) # will get KeyError

KeyError: ignored

In [ ]:
#discard an element not present in a set s
s.discard(7)
print(s)

{1, 3, 5}

In [ ]:
#we can remove item using pop() method

s = {1, 2, 3, 5, 4}

s.pop() #remove random element

print(s)

{2, 3, 4, 5}

In [ ]:
s.pop() 
print(s)

{3, 4, 5}

In [ ]:
s = {1, 5, 2, 3, 6}

s.clear()   #remove all items in set using clear() method

print(s)

set()

Python Set Operations

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#union of 2 sets using | operator

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#intersection of 2 sets using & operator
print(set1 & set2)

{3, 4, 5}

In [ ]:
#use intersection function 
print(set1.intersection(set2))

{3, 4, 5}

In [ ]:
#set Difference: set of elements that are only in set1 but not in set2

print(set1 - set2)

{1, 2}

In [ ]:
#use differnce function 
print(set1.difference(set2))

{1, 2}

In [ ]:
"""symmetric difference: set of elements in both set1 and set2 
#except those that are common in both."""

#use ^ operator

print(set1^set2)

{1, 2, 6, 7}

In [ ]:
#use symmetric_difference function
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

Dictionary
Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dict Creation

In [ ]:
#empty dictionary
my_dict = {}

#dictionary with integer keys
my_dict = {1: 'abc', 2: 'xyz'}
print(my_dict)

#dictionary with mixed keys
my_dict = {'name': 'satish', 1: ['abc', 'xyz']}
print(my_dict)


#create empty dictionary using dict()
my_dict = dict()

my_dict = dict([(1, 'abc'), (2, 'xyz')])    #create a dict with list of tuples
print(my_dict)

Dict Access

In [1]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#get name
print(my_dict['name'])

satish

In [2]:
#if key is not present it gives KeyError
print(my_dict['degree'])

KeyError: ignored

In [3]:
#another way of accessing key
print(my_dict.get('address'))

guntur

In [4]:
#if key is not present it will give None using get method
print(my_dict.get('degree'))

None

Dict Add or Modify Elements

In [5]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#update name 
my_dict['name'] = 'raju'

print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur'}

In [7]:
#add new key
my_dict['degree'] = 'M.Tech'

print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur', 'degree': 'M.Tech'}

Dict Delete or Remove Element

In [8]:
#create a dictionary
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#remove a particular item
print(my_dict.pop('age'))

print(my_dict)

27
{'name': 'satish', 'address': 'guntur'}

In [9]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#remove an arbitarty key
my_dict.popitem()

print(my_dict)

{'name': 'satish', 'age': 27}

In [10]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete particular key
del squares[2]

print(squares)

{3: 9, 4: 16, 5: 25}

In [11]:
#remove all items
squares.clear()

print(squares)

{}

In [12]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete dictionary itself
del squares

print(squares) #NameError because dict is deleted

NameError: ignored

Dictionary Methods

In [13]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [14]:
#fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
subjects = {}.fromkeys(['Math', 'English', 'Hindi'], 0)
print(subjects)

{'Math': 0, 'English': 0, 'Hindi': 0}

In [15]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.items()) #return a new view of the dictionary items (key, value)

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [16]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.keys()) #return a new view of the dictionary keys

dict_keys([2, 3, 4, 5])

In [17]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.values()) #return a new view of the dictionary valu

dict_values([4, 9, 16, 25])

In [18]:
#get list of all available methods and attributes of dictionary
d = {}
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

Dict Comprehension

In [20]:
#Dict comprehensions are just like list comprehensions but for dictionaries

d = {'a': 1, 'b': 2, 'c': 3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [21]:
#Creating a new dictionary with only pairs where the value is larger than 2
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v > 2}
print(new_dict)

{'c': 3, 'd': 4}

In [22]:
#We can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
d = {k + 'c':v * 2 for k, v in d.items() if v > 2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}